a {
 color: #fff;
}

.App {
  padding: 0px 30px;
  background-color: #35424a;
  border-bottom: #e8491d 3px solid;
  min-height: 67px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  margin: 10px auto;
  max-width: 1280px;
  width: 80%;
}

.bodyheight {
  margin-left: 10px;
  min-height: 400px;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.marginTop {
  margin-top: 24px;
}

.navbar-top {
  background-color: mediumvioletred;
  width: 80%
}

footer.page-footer {
  padding: 20px 0px;
  background-color: #e8491d;
}

.btn {
  background: #e8491d;
}
